html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #7db4f2;
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}


body{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

header{

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}


footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    align-items: center;
    font-size: 1rem;
    background-color: #cce4ff;
}


a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;

}


input{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.botao{
    margin: 2rem 1rem;
    border: 0.1rem solid #fb415a;
    border-radius: 1rem;
    background-color: white;
    font-size: 1.2rem;
}