
/* molde para o cabeçalho*/
html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
    height: 10%;
    width: 100%;
    min-height: 4rem;
    background-color: #7db4f2;
}
.seta{
    width: 2rem;
    height: 2rem;
    margin: 0rem 1rem;
}

h1{
    font-size: 2rem;
}
.perfil{
    border-radius: 10rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
}
/* fim do molde para o cabeçalho*/

/* início para o main*/

main{
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cce4ff;
}

h3{
    margin: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
}

.check{
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.passador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
}

.seta{
    width: 2rem;
    height: 2rem;
    margin: 0rem 1rem;
}

h2{
    margin: 1rem;
    font-size: 1.4rem;
}










/* molde para o rodapé*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 00.1rem solid black;
    height: 10%;
    width: 100%;
    min-height: 4rem;
    background-color: #7db4f2;
}

.imgrodape{
    width: 1.5rem;
    height: 1.5rem;
}

.rp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
/* fim do molde para o rodapé*/