html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid black;
    height: 10%;
    width: 100%;
    min-height: 4rem;
    background-color: #7db4f2;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: #cce4ff;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 00.1rem solid black;
    height: 10%;
    width: 100%;
    min-height: 4rem;
    background-color: #7db4f2;
}


.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 2rem;
}

.rp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aesquerda{
    position: absolute;
    left: 3.5%;

}

.seta{
    width: 2rem;
    height: 2rem;
}

.imgrodape{
    width: 1.5rem;
    height: 1.5rem;
}


.botao{
    text-decoration: none;
    border: 00.1rem solid #fb415a;
    background-color: white;
    margin: 1rem 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.imgperfil{
    width: 15rem;
    height: 15rem;
    margin: 2rem 0 0 0;
    border-radius: 10rem;
}

mark{
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

.dados{
    margin: 2rem 0rem;
}

.linha {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    
}

.desc{
    margin: 0.2rem;
}